@media screen and (orientation:portrait) {
    html
    { font-size: 1rem !important; }

}
@media screen and (orientation:landscape) {
    html
    { font-size: 1rem !important; }

}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Regular.ttf');
  font-weight: 300;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Light.ttf');
  font-weight: 100;
}
a {
  color: inherit;
  cursor: pointer;
}
small {
  font-size: .8em!important;
}
.notyet {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -7rem;
  width: 14rem;
  text-align: center;
}
img.foreveralone{
  position: fixed;
  bottom: -.1rem;
  width: 10rem;
  left: 50%;
  margin-left: -5rem;
}
button::-moz-focus-inner {
	border: 0;
}
section {
  background-color: #222;
}
body > section#splash {
	background-color: #FFF;
	color: #00a2e8;
}
section#splash > article {
  top: 0!important;
}
.splashfirst {
	margin: 4rem 2rem;
}
body > section#splash h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
}
body > section#splash h2 {
	font-size: 1.3rem;
	line-height: 1.3rem;
}
body > section#welcome {
	background-color: #00a2e8;
	color: #FFF;
}
body > section#welcome > div {
	margin: 2rem 2rem;
}
body > section#welcome h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
}
body > section#welcome h2 {
	font-size: 1.3rem;
	line-height: 1.3rem;
}
body > section#welcome a {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1.5rem;
}
body > section#login {
	background-color: #F4F4F4;
}
body > section#login > article > form {
	padding: 1.5rem;
}
body > section#confirma {
	background-color: #F4F4F4;
}
body > section#confirma > article > form {
	padding: 1.5rem;
}
.network{
    height:2rem;  
    padding: 0.5rem;
    background-color: #FFF;
    margin-bottom:1rem;
    vertical-align:middle;
    line-height:2em;
}
body > section#login > article#login {
  top: 1rem!important;
}
body > section#login > article#login h1 {
	position: relative;
	width: 16rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
	color: #00a2e8;
}
body > section#login > article#login h1 img.icon {
	float: left;
	height: 2.5rem;
	margin-right: .5rem;
}
body > section#confirma > article#confirma button {
	width: 100%;
}

body > section#confirma > article#confirma {
  top: 1rem!important;
}
body > section#confirma > article#confirma h1 {
	position: relative;
	width: 16rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
	color: #00a2e8;
}
body > section#confirma > article#confirma h1 img.icon {
	float: left;
	height: 2.5rem;
	margin-right: .5rem;
}
body > section#confirma > article#confirma button {
	width: 100%;
}
section > header span.showbar {
  display: block;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  height: .4rem;
  transition: all .5s ease;
}
span.totalUnread {
  display: none;
}
body[data-unread='1'] span.totalUnread {
  display: block;
  position: absolute;
  top: .8rem;
  left: .6rem;
  border-radius: .2rem;
  background-color: #00a2e8;
  color: #FFF;
  border: .1rem solid #D14D3D;
  padding: .2rem .5rem .3rem .4rem;
  line-height: 1em;
  font-weight: 700;
  z-index: 1000;
  animation: blink .5s infinite alternate;
}
section#userdetails > article#user > ul > li,
section#groupdetails > article#group > ul > li,
section#contacts > article.list > div > ul > li,
section#main > article.list > div > ul > li {
  background-color: #F9F9F9;
  border-bottom: .05rem solid #ddd;
  height: 3rem;
  padding: .5rem;
  cursor: pointer;
  perspective: 15rem;
  perspective-origin: 3rem 3rem;
  transition: all .5s ease;
}
section#userdetails > article#user > ul > li:active,
section#groupdetails > article#group > ul > li:active,
section#contacts > article.list > div > ul > li:active,
section#main > article.list > div > ul > li:active {
  background-color: #00a2e8;
}
section#userdetails > article#user > ul > li > span.avatar,
section#groupdetails > article#group > ul > li > span.avatar,
section#contacts > article.list > ul > li > span.avatar,
section#main > article.list > ul > li > span.avatar {
  position: absolute;
  display: block;
  height: 3.2rem;
  width: 3rem;
  top: .4rem;
  left: .4rem;
}
section#userdetails > article#user > ul > li[data-unread='1'] > span.avatar,
section#groupdetails > article#group > ul > li[data-unread='1'] > span.avatar,
section#contacts > article.list > div > ul > li[data-unread='1'] > span.avatar,
section#main > article.list > div > ul > li[data-unread='1'] > span.avatar {
  transform: rotateY(50deg) translateX(-.4rem);
}
section#userdetails > article#user > ul > li > span.avatar > img,
section#groupdetails > article#group > ul > li > span.avatar > img,
section#contacts > article.list > div > ul > li > span.avatar > img,
section#main > article.list > div > ul > li > span.avatar > img {
  display: block;
  width: 3.2rem;
  border-radius: .2rem;
  overflow: hidden;
}
section#userdetails > article#user > ul > li > span.avatar > img:not([src]),
section#groupdetails > article#group > ul > li > span.avatar > img:not([src]),
section#contacts > article.list > div > ul > li > span.avatar > img:not([src]),
section#main > article.list > div > ul > li > span.avatar > img:not([src]) {
  height: 3.2rem;
  width: 3.2rem;
  background-image: url('../img/foovatar.png');
  background-size: 100%;
  background-color: #D4D2C5;
}
section#userdetails > article#user > ul > li > span.name,
section#groupdetails > article#group > ul > li > span.name,
section#contacts > article.list > div > ul > li > span.name,
section#main > article.list > div > ul > li > span.name {
  position: absolute;
  left: 4.2rem;
  top: .8rem;
  right: 1rem;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.2rem;
  height: 1.2rem;
  font-weight: 400;
  overflow: hidden;
}
section#menuaddparticipant > article.list > div > ul > li,
section#menuadd > article.list > div > ul > li {
    background-color: #F9F9F9;
    border-bottom: .05rem solid #ddd;
    height: 3rem;
    padding: .5rem;
    cursor: pointer;
    perspective: 15rem;
    perspective-origin: 3rem 3rem;
    transition: all .5s ease;
}
section#menuaddparticipant > article.list > div > ul > li:active,
section#menuadd > article.list > div > ul > li:active {
    background-color: #00a2e8;
}
section#menuaddparticipant > article.list > ul > li > span.avatar,
section#menuadd > article.list > ul > li > span.avatar {
    position: absolute;
    display: block;
    height: 3.2rem;
    width: 3rem;
    top: .4rem;
    left: .4rem;
}
section#menuaddparticipant > article.list > div > ul > li[data-unread='1'] > span.avatar,
section#menuadd > article.list > div > ul > li[data-unread='1'] > span.avatar {
    transform: rotateY(50deg) translateX(-.4rem);
}
section#menuaddparticipant > article.list > div > ul > li > span.avatar > img,
section#menuadd > article.list > div > ul > li > span.avatar > img {
    display: block;
    width: 3.2rem;
    border-radius: .2rem;
    overflow: hidden;
}
section#menuaddparticipant > article.list > div > ul > li > span.avatar > img:not([src]),
section#menuadd > article.list > div > ul > li > span.avatar > img:not([src]) {
    height: 3.2rem;
    width: 3.2rem;
    background-image: url('../img/foovatar.png');
    background-size: 100%;
    background-color: #D4D2C5;
}
section#menuaddparticipant > article.list > div > ul > li > span.name,
section#menuadd > article.list > div > ul > li > span.name {
    position: absolute;
    left: 4.2rem;
    top: .8rem;
    right: 1rem;
    color: #666;
    font-size: 1.1rem;
    line-height: 1.2rem;
    height: 1.2rem;
    font-weight: 400;
    overflow: hidden;
}
body:not([data-show="na"]) > section#menuaddparticipant > article.list > ul > li > span.name,
body:not([data-show="na"]) > section#menuadd > article.list > ul > li > span.name {
    left: 5.2rem;
}
section#menuaddparticipant > article.list > div > ul > li:active > span.name,
section#menuadd > article.list > div > ul > li:active > span.name {
    color: #FFF;
}
section#menuaddparticipant > article.list > div > ul > li > span.status,
section#menuaddparticipant > article.list > div > ul > li > span.last,
section#menuadd > article.list > div > ul > li > span.status,
section#menuadd > article.list > div > ul > li > span.last {
    position: absolute;
    left: 4.2rem;
    top: 2.2rem;
    color: #888;
    font-size: .9rem;
    font-weight: 200;
    width: calc(100vw - 5rem);
    height: 1.2em;
    overflow: hidden;
}
section#menuaddparticipant > article.list > div > ul > li:active > span.status,
section#menuaddparticipant > article.list > div > ul > li:active > span.last,
section#menuadd > article.list > div > ul > li:active > span.status,
section#menuadd > article.list > div > ul > li:active > span.last {
    color: #FFF;
}
section#menuaddparticipant > article.list > div > ul > li > span.show,
section#menuadd > article.list > div > ul > li > span.show {
    display: block;
    position: absolute;
    top: 1rem;
    left: 4.2rem;
    width: .7rem;
    height: .7rem;
    border-radius: .1rem;
}
section#menuaddparticipant > article.list > div > ul > li > span.unread,
section#menuadd > article.list > div > ul > li > span.unread {
    display: none;
}
section#menuaddparticipant > article.list > div > ul > li[data-unread='1'] > span.unread,
section#menuadd > article.list > div > ul > li[data-unread='1'] > span.unread {
    display: block;
    position: absolute;
    top: 1.4rem;
    left: 3rem;
    border-radius: .2rem;
    background-color: #00a2e8;
    color: #FFF;
    padding: .1rem .3rem .2rem .2rem;
    font-weight: 700;
}
/* ***** */

body:not([data-show="na"]) > section#contacts > article.list > ul > li > span.name,
body:not([data-show="na"]) > section#main > article.list > ul > li > span.name {
  left: 5.2rem;
}
section#main > article.list > div > ul > li:active > span.name {
  color: #FFF;
}
section#userdetails > article#user > ul > li > span.last,
section#groupdetails > article#group > ul > li > span.last,
section#groupdetails > article#group > ul > li > span.last,
section#contacts > article.list > div > ul > li > span.status,
section#contacts > article.list > div > ul > li > span.last,
section#main > article.list > div > ul > li > span.status,
section#main > article.list > div > ul > li > span.last {
  position: absolute;
  left: 4.2rem;
  top: 2.2rem;
  color: #888;
  font-size: .9rem;
  font-weight: 200;
  width: calc(100vw - 5rem);
  height: 1.2em;
  overflow: hidden;
}
section#userdetails > article#user > ul > li:active > span.last
section#groupdetails > article#group > ul > li:active > span.last,
section#contacts > article.list > div > ul > li:active > span.status,
section#contacts > article.list > div > ul > li:active > span.last,
section#main > article.list > div > ul > li:active > span.status,
section#main > article.list > div > ul > li:active > span.last {
  color: #FFF;
}
section#contacts > article.list > div > ul > li > span.show,
section#main > article.list > div > ul > li > span.show {
  display: block;
  position: absolute;
  top: 1rem;
  left: 4.2rem;
  width: .7rem;
  height: .7rem;
  border-radius: .1rem;
}
section#contacts > article.list > div > ul > li > span.unread,
section#main > article.list > div > ul > li > span.unread {
  display: none;
}
section#contacts > article.list > div > ul > li[data-unread='1'] > span.unread,
section#main > article.list > div > ul > li[data-unread='1'] > span.unread {
  display: block;
  position: absolute;
  top: 1.4rem;
  left: 3rem;
  border-radius: .2rem;
  background-color: #00a2e8;
  color: #FFF;
  padding: .1rem .3rem .2rem .2rem;
  font-weight: 700;
}

section#contacts > header,
section#main > header {
    background-color: #00a2e8;
}
section#contacts > header a,
section#main > header a {
    color: white;
}

section#chat > header {
    background-color: #00a2e8;
    color: white;
}
section#menugroup > header,
section#profile > header,
section#menuabout > header,
section#menuconfig > header,
section#menuadd > header,
section#menuaddparticipant > header,
section#userdetails > header,
section#groupdetails > header{
    height: 2.2rem;
    background-color: #00a2e8;
    font-size: .8rem;
    line-height: 1rem;
    padding-top: 1rem;
    color: white;
}


section#chat > header a {
    color: white;
}
section#menuaddparticipant > header a,
section#menuadd > header a {
    color: white;
    font-size:2rem;
    padding-right: 1rem;
}

section#chat > header .name {
  position: absolute;
  left: 2rem;
  top: .6rem;
  font-size: 1rem;
  line-height: 1rem;
}
body:not([data-show="na"]) > section#chat > header .name {
  left: 5rem;
}
section#chat > header .status {
  position: absolute;
  left: 5rem;
  top: 1.55rem;
  font-size: .9rem;
  line-height: 1rem;
  font-weight: 200;
}
section#contacts > header .status,
section#main > header .status {
    position: absolute;
    left: 7.5rem;
    top: 1.55rem;
    font-size: .9rem;
    line-height: 1rem;
    font-weight: 200;
}
section#chat > header .show {
  display: block;
  position: absolute;
  top: .75rem;
  right: 0;
  width: .7rem;
  height: .7rem;
  border-radius: .1rem;
}
section#chat > header .avatar {
  position: absolute;
  left: 2rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
section#chat > header .left img {
  height: 3rem;
}
section#chat span.totalUnread {
  top: 3.7rem;
  left: -1rem;
  padding: .5rem .5rem .5rem 1.5rem;
  cursor: pointer;
  animation: none;
}

section#chat > article#chat > ul#messages {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding-top: .5rem;
	bottom: 4rem;
	overflow-x: hidden;
  list-style-type: none;
}
section#chat > article#chat > ul#messages > li > div {
  position: relative;
  border: .1rem solid #DDD;
  background-color: #FFF;
  padding: .7rem;
  margin: .5rem 0;
  border-radius: .2rem;
  width: calc(100% - 4.5rem);
}
section#chat > article#chat > ul#messages > li > div a{
  color: #00a2e8;
}
section#chat > article#chat > ul#messages > li > div[data-type='out'] {
  text-align: right;
  margin-left: 2.5rem;
  background-color: #F3F3F3;
  color: #777;
}
section#chat > article#chat > ul#messages > li > div[data-type='in'] {
  text-align: left;
  margin-left: .5rem;
}
section#chat > article#chat > ul#messages > li > div.same {
  margin-top: -.7rem;
  border-radius: 0 0 .2rem .2rem;
  border-top: .1rem solid #EEE;
  padding: .7rem .7rem;
}
section#chat > article#chat > ul#messages > li > div span.stamp {
  position: absolute;
  font-size: .7rem;
  font-weight: 300;
  color: #999;
}
section#chat > article#chat > ul#messages > li > div[data-type='out'] span.stamp {
  top: .7rem;
  left: -2rem;
}
section#chat > article#chat > ul#messages > li > div[data-type='in'] span.stamp {
  top: .7rem;
  right: -2rem;
}
section#chat > article#chat > ul#messages > li > div > span.text {
  font-weight: 300;
}
section#chat > article#chat > ul#messages > li:last-child {
  margin-bottom: 3.5rem;
}
section#chat > article#chat #typing {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -3rem;
	height: 1rem;
	padding: .5rem;
	background-color: rgba(255, 255, 255, .9);
	text-align: center;
	font-size: .8rem;
	z-index: 1;
}
section#chat > article#chat > div#footbox {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: .6rem;
    padding-bottom: .6rem;
    padding-right: .6rem;
	background-color: #EBE9DD;
	border-top: .05rem solid #D4D2C5;
}
section#chat > article#chat > div#footbox > div#text {
    position: relative;
    float:left;
    left: 0rem;
	padding: .7rem .5rem .5rem .5rem;
	min-height: 1.3rem;
	max-height: 1.3rem;
    width: 65%;
	background-color: #FFF;
	border: .05rem solid #DDD;
	border-radius: .2rem;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
	color: #666;
	outline: none;
	overflow: auto;
}
section#chat > article#chat > div#footbox > button#emo {
    background-image:url(../img/009.png);
    background-color: rgba(248, 247, 216, 0.1);
    background-repeat:no-repeat;
    background-position:50% 50%;
    position: relative;
    float: left;
    top: 0.05rem;
    font-size: .8rem;
    border:0rem;
    line-height: 1.5rem;
    padding: .1rem 1rem .2rem 1rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    margin-left: 0rem;
    font-weight: bold;
}
section#chat > article#chat > div#footbox > div#text:focus {
  border: .05rem solid #BBB;
}
section#chat > article#chat > div#footbox > button#say {
	background-image:url(../img/plane.png);	
	background-repeat:no-repeat;
	background-position:50% 50%;	
	position: relative;
	float: right;
	top: 0.05rem;
	font-size: .8rem;
	line-height: 1.5rem;
	padding: .1rem 1rem .2rem 1rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0;
	margin-left: 0.5rem;
	font-weight: bold;
}
section#dialog > article {
	background-color: #F4F5F5;
	color: #444;
}
section#dialog > header {
	height: 2.05rem;
	background-color: #333;
	border-bottom: .1rem solid #666;
	font-size: .8rem;
	line-height: 1rem;
	padding-top: 1.4rem;
	color: #FFF;
}
section#dialog > header > nav {
	position: absolute;
	top: .2rem;
}
section#dialog > header > nav > a > span {
  font-size: 1rem!important;
  color: #FFF;
}
section#dialog > header > a.right {
	position: absolute;
	top: .2rem;
	right: 0;
	padding: 1rem;
}
section#dialog > article > form,
section#dialog > article > p {
	padding: 1.5rem;
}
section#dialog > article > p.tip {
  background-color: #E3DEDB;
  min-height: 2rem;
}
section#dialog > article > p.tip img {
  height: 2rem;
	float: left;
  margin-right: 1rem;
}
section#dialog > article > form > label {
  color: #555;
}
section#dialog > article > form > input,
section#dialog > article > form > [data-pretend=input-text] {
  margin: .5rem 0 1rem 0;
}
section#dialog > article button {
	display: block;
	margin: 0 auto;
}
section#dialog > article button span.icon {
	margin-right: .5rem;
	font-size: 1rem;
}
section#dialog > article#contactEdit .avatar {
  height: 3rem;
  margin-top: -.5rem;
  border-radius: .2rem;
}
section#dialog > article#contactEdit p.tip strong {
  display: block;
  margin-top: .5rem;
  width: 18rem;
  word-break: break-all;
}
/* NEW
section [data-show=chat] {
  background-color: #2ECC71;
}
section [data-show=a] {
  background-color: #2ECC71;
}
section [data-show=away] {
  background-color: #3498DF;
}
section [data-show=xa] {
  background-color: #F1C40F;
}
section [data-show=dnd] {
  background-color: #00a2e8;
}
section [data-show=na] {
  background-color: #BDC3C7;
}
section#main article#contacts.disHide li[data-show='na'] {
	display: none;
}
*/

.addparticipant,
.participant{

    padding-bottom:.5rem;
    margin-top: .5rem;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-color:#00a2e8;
    color:#444444;

}
.innerpar:active{
    background-color:#00a2e8;
}



/* KEYFRAMES */
@keyframes blink {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(.8);
	}
}
